<header class="c-page__header">
        <h1>{{ site.description }} <img id="birdlogo" src="https://raw.githubusercontent.com/AlexanderShaw/AlexanderShaw.github.io/master/_includes/birdcallslogo.png" alt="logo"> </h1> 
	{% if page.title == 'Home' %}
    <p>
        <span class="u-separate"><a href="{{ "/authors/" | prepend: site.baseurl }}">Authors</a></span>  <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    </p>
	{% elsif page.layout == 'author' %}
    <p>
        <a href="{{ "/authors/" | prepend: site.baseurl }}">&lt;&ndash;&ndash; Authors</a>
    </p>
	{% else %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">&lt;&ndash;&ndash; Home</a>
    </p>
	{% endif %}
</header>
