<header class="c-page__header">
	<div style="position: relative;top: 15px;left: 40%;height: 140px;overflow-x: hidden;width: calc(50vw + 50px);"> <img id="birdlogo" src="https://raw.githubusercontent.com/AlexanderShaw/AlexanderShaw.github.io/master/_includes/birdcallslogo.png" alt="logo" style="position: absolute;min-width: 150rem;max-height: 15rem;padding:0"> </div>
        <h1 style="text-align: center">{{ site.description }}  </h1> 
	{% if page.title == 'Home' %}
    <p style="text-align: center">
        <span class="u-separate"><a href="{{ "/authors/" | prepend: site.baseurl  | prepend: "#/" }}">Authors</a></span>  <a href="{{ "/about/" | prepend: site.baseurl | prepend: "#/" }}">About</a>
    </p>
	{% elsif page.layout == 'author' %}
    <p style="text-align: center">
        <a href="{{ "/authors/" | prepend: site.baseurl | prepend: "#/"  }}">&lt;&ndash;&ndash; Authors</a>
    </p>
	{% else %}
    <p style="text-align: center">
        <a href="{{ "/" | prepend: site.baseurl | prepend: "#/" }}">&lt;&ndash;&ndash; Home</a>
    </p> 
	{% endif %}
</header>
